.characterProfilePreview {
    position: relative;

    .characterInformation {
        margin-bottom: 20px;
    }

    .characterContentInformation {
        margin-top: 15px;
    }

    .buttonGroupNavigation {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.characterRankBadge {
    max-width: 154px;
    overflow: hidden;
    text-overflow: ellipsis;
}

@include screen-md-up {
    .characterProfileCharacter {
        .contentHeaderIcon {
            flex: 0 0 128px;
            margin-right: 20px;
        }
    }
}

.characterPreviewTab {
    @include wcfFontSmall;

    margin-top: 5px;

    .otherCharacters {
        .box24 {
            > :first-child:not(:last-child) {
                margin-right: 4px;
            }
        }

        .characterName {
            @include wcfFontDefault;
        }
    }

    .tabMenu {
        margin-bottom: 5px;

        > ul {
            > li {
                > a {
                    @include wcfFontHeadline;
                }
            }
        }
    }
}

.characterPointAccountList {
    .green {
        color: rgba(0, 153, 0, 1);
    }

    .red {
        color: rgba(204, 0, 0, 1);
    }

    .yellow {
        color: rgba(176,176,8, 0.8);
    }
}

.raidList {
    > li {
        &.showMore {
            flex-basis: 100%;
            text-align: center;
            padding: 10px;
            margin-left: 20px;
            border-top: 1px solid $wcfContentBorderInner;
        }
    }
}

.characterProfileRaidAttendance {
    .contentItem {
        > div {
            display: flex;

            > div {
                padding-top: 5px;
                padding-right: 5px;
                width: 100%;
            }
        }
    }

    .raidEventIcon {
        padding: 5px;
    }
    
    .containerHeadline {
        > h3 {
            @include wcfFontDefault;
        }
    }
}

.rpRaidClassDistribution,
.characterProfileRaidAttendance {
    .progressBarContainer {
        position: relative;
        display: inline-block;
        margin-top: 3px;
        border: 1px solid $wcfContentBorderInner;
        height: 15px;
        width: 100%;

        .progressBar {
            position: absolute;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba(0, 153, 0, 1);
        }

        span {
            position: absolute;
            text-align: center;
            left: 0;
            line-height: 1em;
            font-size: 10px;
            font-weight: bold;
            top: 1px;
            width: 100%;
            z-index: 1;
        }
    }
}